.about{
    margin-bottom: 100px;
}
.hr_about {
    border: none;
    border-top: 2px dashed rgb(214, 214, 214);
    margin-bottom: 100px;
}
.about_wrap {
    display: flex;
}
.about_us {
    width: 530px;
    border-right: 2px dashed rgb(214, 214, 214);
    padding-right: 75px;
}
.about_title {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 20px;
}
.about_title span{
    font-weight: 600;
}
.about_text {
    font-size: 16px;
    line-height: 155%;
}
.people {
    display: flex;
    align-items: center;
}
.person {
    margin-left: 120px;
}
.peaple:first-child {
    margin-left: 50px;
}
.person_img img{
    height: 110px;
    object-fit: cover;
}
.name{
    text-align: center;
    font-weight: 500;
    margin-bottom: 5px;
}
#long_name {
    width: 120px;
}
.profession{
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(142, 142, 142);
}
.social{
    text-align: center;
}
.social *{
    margin-right: 25px;
    color: rgb(142, 142, 142);
    font-size: 16px;
    cursor:pointer;
}
.social *:last-child{
    margin-right: 0;
}
.social *:hover{
    color: rgb(31, 137, 186);
}