.main_screen{
    font-family: "Montserrat", sans-serif;
    color: white;
    margin-top: 280px;
    text-align: center;
}
.header_overlay{
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);    
    padding: 15px 0px;
}

.navigation_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation_list{
    display: flex;  
} 
.navigation_list-item a{
    margin-left: 70px;
    color: white;
} 
.header hr{
    border:none;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-top: 20px;
    
}
.navigation_bar{
    margin-top: 10px;
    opacity: 1;
}
.main_text h1{
    font-size: 60px;
    font-weight: 600;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main_text p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 32px;
    margin-bottom: 10px;
}
.main_text p:last-child{
    margin-bottom: 0;
}
.navigation_list a{
    position: relative;
}
.navigation_list a:hover::after{
    content: "";
    display: block;
    background-color: white;
    height: 1px;
    width: 100%;
    margin-top: 29px;
    position: absolute;
    left: 0px;
}